<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671290067904-rvtvhv374lo2lqt04jrccr3c88jjmjd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671290067904-rvtvhv374lo2lqt04jrccr3c88jjmjd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCYB-KbAFLvGy_W7yMI52DIyN9lzXqv5iw</string>
	<key>GCM_SENDER_ID</key>
	<string>671290067904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeyParkhomenko.FirebasePavel</string>
	<key>PROJECT_ID</key>
	<string>fir-pavel</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pavel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671290067904:ios:6b862fad13046e40f75625</string>
	<key>DATABASE_URL</key>
	<string>https://fir-pavel.firebaseio.com</string>
</dict>
</plist>